# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Streamlit
.streamlit/

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
